<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Css/sidebar.css">
    <title>Document</title>
</head>
<body>
    <sidebar>
        <div class="info">
            <!-- <label for="cars">Choose a car:</label>
            <select name="cars" id="cars">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select> -->

            <div class="select-computer">
                <ul>
                    <li><a href="">koeuk</a></li>
                    <li><a href="">koeuk</a></li>
                    <li><a href="">koeuk</a></li>
                    <li><a href="">koeuk</a></li>
                    <li><a href="">koeuk</a></li>
                </ul>
            </div>
        </div>
    </sidebar>
</body>
</html>